*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    background-image: linear-gradient(#FFAB9B,white);
}
.main-cont{
    display: flex;
    justify-content: center;
    padding-top: 6em;
}

.hello-text{
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    animation: fadeInDown 2s;
}

.clock-area{
    display: flex;
    justify-content: center;
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    animation: fadeIn 5s;
}

.date-area{
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    animation: fadeInUp 2s;
}

.choose{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 1em;
    animation: bounce 1s;
}

.player-container{
    display: none;
    justify-content: center;
    padding: 2em;
}

.sound-picker{
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
}

.sound-picker button{
    border: none;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding:30px;
    cursor: pointer;
}

.sound-picker button:nth-child(1){
    background: rgb(250, 167, 179);
    /* background: #FFAB9B; */
}

.sound-picker button:nth-child(2){
    background: rgba(44, 111, 212, 0.842);
}

.sound-picker button img{
    height: 100%;
}

.happy-mood{
    animation: fadeInTopLeft 2s;
}
.chill-mood{
    animation: fadeInTopRight 2s;
}

.play{
    border: white 2px solid;
    border-radius: 50px;
    padding: 2em;
    animation: fadeIn 3s;
}
.spotify-playlist{
    animation: fadeInUp 2s;
}

.spotify-playlist2{
    animation: fadeInUp 2s;
}

#spotify{
    display: none;
    justify-content: space-evenly;
    padding: 2em;
}